In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import statistics as stat
import seaborn as sns
from sklearn import preprocessing

In [4]:
data = pd.read_csv('./Dataset4.csv',index_col=0)

In [5]:
data.nunique()

Time_given                  120
Time_taken                  607
Time_variance               595
baseline_create_date        506
business_code                 6
clear_date                  403
cust_number                1099
cust_payment_terms           74
delay                       595
document_create_date        507
document_create_date.1      506
due_in_date                 547
isOpen                        2
name_customer              4197
posting_date                506
total_open_amount         44384
dtype: int64

In [7]:
data.head(10)

,Time_given,Time_taken,Time_variance,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount
0,16,282.0,266.0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4.054214e+06
1,20,17.0,-3.0,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5.950348e+06
2,15,107.0,92.0,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,1.683633e+05
3,11,NaN,NaN,2020-03-31,CA02,NaN,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,1.940554e+05
4,15,12.0,-3.0,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2.475057e+06
5,14,-161.0,-175.0,2019-09-24,CA02,2019-04-12,140106181,CA10,-175.0,2019-09-20,2019-09-20,2019-10-04,0,THE corporation,2019-09-20,1.307102e+06
6,16,41.0,25.0,2019-11-01,U001,2019-12-11,200769623,NAH4,25.0,2019-10-31,2019-11-01,2019-11-16,0,WAL-MAR in,2019-01-11,5.496792e+05
7,16,NaN,NaN,2020-03-19,U001,NaN,200744019,NAA8,NaN,2020-03-18,2020-03-19,2020-04-03,1,TARG us,2020-03-19,8.346246e+05
8,17,13.0,-4.0,2019-06-07,U001,2019-06-18,200769623,NAH4,-4.0,2019-06-05,2019-06-07,2019-06-22,0,WAL-MAR corp,2019-07-06,1.194829e+06
9,16,104.0,88.0,2019-02-20,U001,2019-06-03,200762301,NAC6,88.0,2019-02-19,2019-02-20,2019-03-07,0,C&S WH systems,2019-02-20,2.138661e+03

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Time_given              50000 non-null  int64
 1   Time_taken              40000 non-null  float64
 2   Time_variance           40000 non-null  float64
 3   baseline_create_date    50000 non-null  object
 4   business_code           50000 non-null  object
 5   clear_date              40000 non-null  object
 6   cust_number             50000 non-null  object
 7   cust_payment_terms      50000 non-null  object
 8   delay                   40000 non-null  float64
 9   document_create_date    50000 non-null  object
 10  document_create_date.1  50000 non-null  object
 11  due_in_date             50000 non-null  object
 12  isOpen                  50000 non-null  int64
 13  name_customer           50000 non-null  object
 14  posting_date            50000 non-null  object
 15  total_open_amount       50000 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 6.5+ MB