<h1>Importing Libraries

In [26]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import statistics as stat
import seaborn as sns
from sklearn import preprocessing
import os
import datetime as dt

<h3>Importing Dataset

In [27]:
data = pd.read_csv('./Odataset.csv')

<h3>Droping Constant columns

In [28]:
data.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,200769623,WAL-MAR corp,11-02-2020 00:00,2020,1930438491,26-01-2020,20200125,20200126,20200210,USD,RV,1,NaN,54273.28,20200126,NAH4,1.930438e+09,0
1,U001,200980828,BEN E,08-08-2019 00:00,2019,1929646410,22-07-2019,20190722,20190722,20190811,USD,RV,1,NaN,79656.60,20190722,NAD1,1.929646e+09,0
2,U001,200792734,MDV/ trust,30-12-2019 00:00,2019,1929873765,14-09-2019,20190914,20190914,20190929,USD,RV,1,NaN,2253.86,20190914,NAA8,1.929874e+09,0
3,CA02,140105686,SYSC llc,NaN,2020,2960623488,30-03-2020,20200330,20200330,20200410,CAD,RV,1,NaN,3299.70,20200331,CA10,2.960623e+09,1
4,U001,200769623,WAL-MAR foundation,25-11-2019 00:00,2019,1930147974,13-11-2019,20191113,20191113,20191128,USD,RV,1,NaN,33133.29,20191113,NAH4,1.930148e+09,0

In [29]:
data.drop(['doc_id','posting_id','area_business','invoice_id'],axis=1,inplace=True)

In [30]:
data.drop(['buisness_year'],axis=1,inplace=True)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   posting_date            50000 non-null  object
 5   document_create_date    50000 non-null  int64
 6   document_create_date.1  50000 non-null  int64
 7   due_in_date             50000 non-null  int64
 8   invoice_currency        50000 non-null  object
 9   document type           50000 non-null  object
 10  total_open_amount       50000 non-null  float64
 11  baseline_create_date    50000 non-null  int64
 12  cust_payment_terms      50000 non-null  object
 13  isOpen                  50000 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 5.3+ MB

In [32]:
data.nunique()

business_code                 6
cust_number                1099
name_customer              4197
clear_date                  403
posting_date                506
document_create_date        507
document_create_date.1      506
due_in_date                 547
invoice_currency              2
document type                 2
total_open_amount         44349
baseline_create_date        506
cust_payment_terms           74
isOpen                        2
dtype: int64

In [33]:
data

,business_code,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,isOpen
0,U001,200769623,WAL-MAR corp,11-02-2020 00:00,26-01-2020,20200125,20200126,20200210,USD,RV,54273.28,20200126,NAH4,0
1,U001,200980828,BEN E,08-08-2019 00:00,22-07-2019,20190722,20190722,20190811,USD,RV,79656.60,20190722,NAD1,0
2,U001,200792734,MDV/ trust,30-12-2019 00:00,14-09-2019,20190914,20190914,20190929,USD,RV,2253.86,20190914,NAA8,0
3,CA02,140105686,SYSC llc,NaN,30-03-2020,20200330,20200330,20200410,CAD,RV,3299.70,20200331,CA10,1
4,U001,200769623,WAL-MAR foundation,25-11-2019 00:00,13-11-2019,20191113,20191113,20191128,USD,RV,33133.29,20191113,NAH4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,200561861,CO corporation,NaN,21-04-2020,20200417,20200421,20200506,USD,RV,3187.86,20200421,NAA8,1
49996,U001,200769623,WAL-MAR co,03-09-2019 00:00,15-08-2019,20190814,20190815,20190830,USD,RV,6766.54,20190815,NAH4,0
49997,U001,200772595,SAFEW associates,05-03-2020 00:00,19-02-2020,20200218,20200219,20200305,USD,RV,6120.86,20200219,NAA8,0
49998,U001,200726979,BJ'S llc,12-12-2019 00:00,27-11-2019,20191126,20191127,20191212,USD,RV,63.48,20191127,NAA8,0
49999,U001,200020431,DEC corp,15-01-2019 00:00,05-01-2019,20190105,20190105,20190124,USD,RV,1790.30,20190101,NAM4,0

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  datetime64[ns]
 4   posting_date            50000 non-null  datetime64[ns]
 5   document_create_date    50000 non-null  int64
 6   document_create_date.1  50000 non-null  int64
 7   due_in_date             50000 non-null  int64
 8   invoice_currency        50000 non-null  object
 9   document type           50000 non-null  object
 10  total_open_amount       50000 non-null  float64
 11  baseline_create_date    50000 non-null  int64
 12  cust_payment_terms      50000 non-null  object
 13  isOpen                  50000 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(6)
memory usage: 5.3+ MB

<h3>Datetime conversion

In [36]:
data['clear_date']= pd.to_datetime(data['clear_date'])
data['posting_date']= pd.to_datetime(data['posting_date'])

In [46]:
data['document_create_date']= pd.to_datetime(data['document_create_date'],format='%Y%m%d')
data['document_create_date.1']= pd.to_datetime(data['document_create_date.1'],format='%Y%m%d')
data['due_in_date']= pd.to_datetime(data['due_in_date'],format='%Y%m%d')
data['baseline_create_date']= pd.to_datetime(data['baseline_create_date'],format='%Y%m%d')

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  datetime64[ns]
 4   posting_date            50000 non-null  datetime64[ns]
 5   document_create_date    50000 non-null  datetime64[ns]
 6   document_create_date.1  50000 non-null  datetime64[ns]
 7   due_in_date             50000 non-null  datetime64[ns]
 8   invoice_currency        50000 non-null  object
 9   document type           50000 non-null  object
 10  total_open_amount       50000 non-null  float64
 11  baseline_create_date    50000 non-null  datetime64[ns]
 12  cust_payment_terms      50000 non-null  object
 13  isOpen                  50000 non-null  int64
dtypes: datetime64[ns](6), float64(1), int64(1), object(6)
memory usage: 5.3+ MB

In [48]:
data

,business_code,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,isOpen
0,U001,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,USD,RV,54273.28,2020-01-26,NAH4,0
1,U001,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,USD,RV,79656.60,2019-07-22,NAD1,0
2,U001,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,USD,RV,2253.86,2019-09-14,NAA8,0
3,CA02,140105686,SYSC llc,NaT,2020-03-30,2020-03-30,2020-03-30,2020-04-10,CAD,RV,3299.70,2020-03-31,CA10,1
4,U001,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,USD,RV,33133.29,2019-11-13,NAH4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,200561861,CO corporation,NaT,2020-04-21,2020-04-17,2020-04-21,2020-05-06,USD,RV,3187.86,2020-04-21,NAA8,1
49996,U001,200769623,WAL-MAR co,2019-03-09,2019-08-15,2019-08-14,2019-08-15,2019-08-30,USD,RV,6766.54,2019-08-15,NAH4,0
49997,U001,200772595,SAFEW associates,2020-05-03,2020-02-19,2020-02-18,2020-02-19,2020-03-05,USD,RV,6120.86,2020-02-19,NAA8,0
49998,U001,200726979,BJ'S llc,2019-12-12,2019-11-27,2019-11-26,2019-11-27,2019-12-12,USD,RV,63.48,2019-11-27,NAA8,0
49999,U001,200020431,DEC corp,2019-01-15,2019-05-01,2019-01-05,2019-01-05,2019-01-24,USD,RV,1790.30,2019-01-01,NAM4,0

<h3>Currency Conversion

In [50]:
rate_cad = .75

In [54]:
# convert couurency
data.replace({"invoice_currency": {"USD": 1, "CAD": rate_cad}}, inplace=True)
data['total_open_amount'] = data['total_open_amount']*data['invoice_currency']

In [55]:
data.drop(['invoice_currency'],axis=1,inplace=True)

In [56]:
data

,business_code,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,document type,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,total_open_amount_1
0,U001,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,RV,54273.280,2020-01-26,NAH4,0,54273.280
1,U001,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,RV,79656.600,2019-07-22,NAD1,0,79656.600
2,U001,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,RV,2253.860,2019-09-14,NAA8,0,2253.860
3,CA02,140105686,SYSC llc,NaT,2020-03-30,2020-03-30,2020-03-30,2020-04-10,RV,2474.775,2020-03-31,CA10,1,2474.775
4,U001,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,RV,33133.290,2019-11-13,NAH4,0,33133.290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,200561861,CO corporation,NaT,2020-04-21,2020-04-17,2020-04-21,2020-05-06,RV,3187.860,2020-04-21,NAA8,1,3187.860
49996,U001,200769623,WAL-MAR co,2019-03-09,2019-08-15,2019-08-14,2019-08-15,2019-08-30,RV,6766.540,2019-08-15,NAH4,0,6766.540
49997,U001,200772595,SAFEW associates,2020-05-03,2020-02-19,2020-02-18,2020-02-19,2020-03-05,RV,6120.860,2020-02-19,NAA8,0,6120.860
49998,U001,200726979,BJ'S llc,2019-12-12,2019-11-27,2019-11-26,2019-11-27,2019-12-12,RV,63.480,2019-11-27,NAA8,0,63.480
49999,U001,200020431,DEC corp,2019-01-15,2019-05-01,2019-01-05,2019-01-05,2019-01-24,RV,1790.300,2019-01-01,NAM4,0,1790.300

<h3>Delay Date Calculation

In [67]:
data['delay'] = data['clear_date']-data['due_in_date']

In [75]:
data.delay = data.delay.dt.days

In [68]:
data.sort_index()

,business_code,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,document type,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,total_open_amount_1,delay
0,U001,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,RV,54273.280,2020-01-26,NAH4,0,54273.280,266 days
1,U001,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,RV,79656.600,2019-07-22,NAD1,0,79656.600,-3 days
2,U001,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,RV,2253.860,2019-09-14,NAA8,0,2253.860,92 days
3,CA02,140105686,SYSC llc,NaT,2020-03-30,2020-03-30,2020-03-30,2020-04-10,RV,2474.775,2020-03-31,CA10,1,2474.775,NaT
4,U001,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,RV,33133.290,2019-11-13,NAH4,0,33133.290,-3 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,200561861,CO corporation,NaT,2020-04-21,2020-04-17,2020-04-21,2020-05-06,RV,3187.860,2020-04-21,NAA8,1,3187.860,NaT
49996,U001,200769623,WAL-MAR co,2019-03-09,2019-08-15,2019-08-14,2019-08-15,2019-08-30,RV,6766.540,2019-08-15,NAH4,0,6766.540,-174 days
49997,U001,200772595,SAFEW associates,2020-05-03,2020-02-19,2020-02-18,2020-02-19,2020-03-05,RV,6120.860,2020-02-19,NAA8,0,6120.860,59 days
49998,U001,200726979,BJ'S llc,2019-12-12,2019-11-27,2019-11-26,2019-11-27,2019-12-12,RV,63.480,2019-11-27,NAA8,0,63.480,0 days
49999,U001,200020431,DEC corp,2019-01-15,2019-05-01,2019-01-05,2019-01-05,2019-01-24,RV,1790.300,2019-01-01,NAM4,0,1790.300,-9 days

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  datetime64[ns]
 4   posting_date            50000 non-null  datetime64[ns]
 5   document_create_date    50000 non-null  datetime64[ns]
 6   document_create_date.1  50000 non-null  datetime64[ns]
 7   due_in_date             50000 non-null  datetime64[ns]
 8   document type           50000 non-null  object
 9   total_open_amount       50000 non-null  float64
 10  baseline_create_date    50000 non-null  datetime64[ns]
 11  cust_payment_terms      50000 non-null  object
 12  isOpen                  50000 non-null  int64
 13  total_open_amount_1     50000 non-null  float64
 14  delay                   40000 non-null  timedelta64[ns]
dtypes: datetime64[ns](6), float64(2), int64(1), object(5), timedelta64[ns](1)
memory usage: 5.7+ MB

In [ ]:
data.drop(['total_open_amount_1'],axis=1,inplace=True)

In [89]:
data.head()

,business_code,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,document type,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,delay
0,U001,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,RV,54273.280,2020-01-26,NAH4,0,266.0
1,U001,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,RV,79656.600,2019-07-22,NAD1,0,-3.0
2,U001,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,RV,2253.860,2019-09-14,NAA8,0,92.0
3,CA02,140105686,SYSC llc,NaT,2020-03-30,2020-03-30,2020-03-30,2020-04-10,RV,2474.775,2020-03-31,CA10,1,NaN
4,U001,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,RV,33133.290,2019-11-13,NAH4,0,-3.0

In [ ]:
data.to_csv('./f1.csv',index=False)

In [ ]:
temp = pd.read_csv('./f1.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  datetime64[ns]
 4   posting_date            50000 non-null  datetime64[ns]
 5   document_create_date    50000 non-null  datetime64[ns]
 6   document_create_date.1  50000 non-null  datetime64[ns]
 7   due_in_date             50000 non-null  datetime64[ns]
 8   document type           50000 non-null  object
 9   total_open_amount       50000 non-null  float64
 10  baseline_create_date    50000 non-null  datetime64[ns]
 11  cust_payment_terms      50000 non-null  object
 12  isOpen                  50000 non-null  int64
 13  total_open_amount_1     50000 non-null  float64
 14  delay                   40000 non-null  float64
dtypes: datetime64[ns](6), float64(3), int64(1), object(5)
memory usage: 5.7+ MB

In [ ]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   posting_date            50000 non-null  object
 5   document_create_date    50000 non-null  object
 6   document_create_date.1  50000 non-null  object
 7   due_in_date             50000 non-null  object
 8   document type           50000 non-null  object
 9   total_open_amount       50000 non-null  float64
 10  baseline_create_date    50000 non-null  object
 11  cust_payment_terms      50000 non-null  object
 12  isOpen                  50000 non-null  int64
 13  total_open_amount_1     50000 non-null  float64
 14  delay                   40000 non-null  float64
dtypes: float64(3), int64(1), object(11)
memory usage: 5.7+ MB